# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Pytest
.pytest_cache/

# Ruff
.ruff_cache/

# Mypy
.mypy_cache/

# Build
build/
dist/
*.egg-info/

# Coverage
.coverage
htmlcov/

# Temporary files
tmp*

dev_tests.ipynb
